form {
    flex-wrap: wrap;
    height: 78vh;
    padding-top: 100px;
    padding-left: 400px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.979)
}
#formBasicEmail.form-control {
    width: 30%;
}
#formBasicPassword.form-control {
    width: 30%;
}
#formBasicName.form-control {
    width: 30%;
    height: 90px;
}
button.btn.btn-primary {
    padding: 10px 40px;
    background-color: rgb(36, 122, 36);
    border-radius: 50px;
   margin-top: 25px;
    font-size: 20px;
    display: flex;
   align-items: center;
    font-weight: 700;
    border: none;
    color: azure;

}
label.form-label {
    font-weight: 700;
}