footer {
    padding: 20px;
    margin-top: 80%;
    background-color: black;
    color: aliceblue;
    display: inline;
   
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    
}
.email {
    padding: 14px;
}
.linkedin {
    padding: 14px;
}
.github {
    padding: 14px;
}
@media(max-width: 400px){
    icons {
    padding-left: 10px;
}
}
