.content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
   
}

.intro {
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 165, 148, 0.774);
   
    padding-top: 210px;
    padding-left: 170px;
        
}
.intro h2 {
    font-size: 90px;
    font-weight: 900;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-image: linear-gradient(to top, rgb(1, 66, 1),rgb(92, 158, 79),rgb(2, 56, 2),white,rgb(68, 146, 78),rgb(1, 53, 1),rgb(75, 158, 75),rgb(5, 85, 5));
   -webkit-background-clip: text; /* For Safari */
   background-clip: text;
   color: transparent; /* Hide the original text color */
    
}

.intro p {
    font-size: 20px;
    width: 88%;
    line-height: 22px;
    font-family: sans-serif;
    color: rgba(14, 12, 12, 0.637);
}
       
    
    .intro button {
        padding: 10px 40px;
        background-color: rgb(36, 122, 36);
        border-radius: 50px;
       margin-top: 25px;
        font-size: 20px;
        display: flex;
       align-items: center;
        font-weight: 700;
        border: none;
        color: azure;

    }
    button a {
        color: white;
        border: none;
       
    }
    .photo {
        width: 50%;
        height: 100%;
        background-color: rgba(148, 165, 148, 0.774);
   display: flex;
   align-items: center; /* Vertically center the image */
   justify-content: center;
 
    }
    .photo img{
       height: 100%;
        width: 100%;
       
       padding-right: 150px;
     border-top-right-radius: 70%;
     border-top-left-radius: 50%;
     box-shadow: black 2px;
     opacity: .9;
    }
section {
    background-color: rgba(148, 165, 148, 0.774);
    padding-left: 150px;
}